body {
    background: papayawhip;
    color: #333;
}

.container {
    width: 1200px;
    margin: auto;
}

.time {
    display: inline-block;
}

.data {
    font-family: monospace;
    text-align: center;
    color: #000;
    font-weight: bold;
    display: inline-block;
    min-width: 40px;
    padding: 0 10px;
    border: 1px solid #fff;
}

.seconds {
    display: inline-block;
}